<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en" th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}" rel="script"></script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" rel="script"></script>

    <link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" media="screen"/>

    <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}" rel="script"></script>

</head>
<body>

</body>
</html>