<!DOCTYPE html >
<th:block th:include="fragments/headerinc :: head"></th:block>
<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        var pathArray = window.location.pathname.split('/');
        $('#scheduledjobs').DataTable({
            stateSave: true,
            "language": {
                "url": "/" + pathArray[1] + "/DataTables/i18n/French.json"
            }
        });
    });
</script>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jobs</title>
</head>
<body>
<div class="container">
    <!--/*@thymesVar id="jobs" type="java.lang.Iterable<com.myscheduler.dao.JobList>"*/-->
    <div th:if="!${#lists.isEmpty(jobs)}">
        <h2>Liste des jobs cédulées</h2>
        <table class="table table-bordered table-condensed" id="scheduledjobs">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Groupe</th>
                <th>Heure</th>
                <th>Etat</th>
                <th>Cancel</th>
            </tr>
            </thead>
            <tr th:each="job : ${jobs}">
                <!--/*@thymesVar id="job" type="com.myscheduler.dao.JobList"*/-->
                <td th:text="${job.jobName}">Id</td>
                <td th:text="${job.jobGroup}">Nom</td>
                <td th:text="${job.nextFireTime}">Heure</td>
                <td th:text="${job.state}">Etat</td>
                <td><a th:if="${!job.jobName.startsWith('method')}" class="btn btn-default btn-sm active"
                       th:href="@{/scheduledjobs/cancel/} + ${job.jobName}">Cancel</a></td>
            </tr>
        </table>
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/jobs}">Voir les Jobs</a></li>
                    <li><a href="#" th:href="@{/scheduledjobs/reschedulejobs}">Recéduler les Jobs</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
</body>
</html>